<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixin.freshmall">
    <permission
        android:name="com.lixin.freshmall.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.lixin.freshmall.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--activity基类-->
        <activity android:name=".activity.BaseActivity"/>
        <!--选择门店-->
        <activity android:name=".activity.SelectProvinceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectCityActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectAreaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectStoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--登录-->
        <activity android:name=".activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!--主页面-->
        <activity android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <!--找回密码-->
        <activity android:name=".activity.ForgetPwdActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!--注册-->
        <activity android:name=".activity.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!--绑定手机号-->
        <activity android:name=".activity.BindingPhoneActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!--搜索商品-->
        <activity android:name=".activity.SearchShopActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--商品详情页面-->
        <activity android:name=".activity.ShopDecActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--商品评价-->
        <activity android:name=".activity.ShopEvaluateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--立即购买-->
        <activity android:name=".activity.NowBuyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--购物袋-->
        <activity android:name=".activity.ShoppingBagActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--更多商品-->
        <activity android:name=".activity.MoreShopActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--个人信息-->
        <activity android:name=".activity.MyPersonalInformationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--地址管理-->
        <activity android:name=".activity.MyAddressListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--添加、编辑地址-->
        <activity android:name=".activity.AddAddressActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--地图选址-->
        <activity android:name=".activity.LocationAndPoiSearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的消息-->
        <activity android:name=".activity.MyMassageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--修改昵称-->
        <activity android:name=".activity.ModifyNameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的钱包-->
        <activity android:name=".activity.MyBalanceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--零钱明细-->
        <activity android:name=".activity.MoneyDecActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的积分-->
        <activity android:name=".activity.MyIntegralActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--积分明细-->
        <activity android:name=".activity.MyIntegralDecActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的优惠券-->
        <activity android:name=".activity.MyCouponActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--关于我们、用户协议-->
        <activity android:name=".activity.SettingAboutUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的订单-->
        <activity android:name=".activity.MyOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的评价-->
        <activity android:name=".activity.MyEvaluateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--去评价-->
        <activity android:name=".activity.GoEvaluateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--订单详情-->
        <activity android:name=".activity.OrderDecActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--订单明细-->
        <activity android:name=".activity.OrderMoneyDecActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--退款详情-->
        <activity android:name=".activity.RefundDecActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我要退款-->
        <activity android:name=".activity.WantRefundActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--美味生活-->
        <activity android:name=".activity.MyLifeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--红包来了-->
        <activity android:name=".activity.MyRedPackagesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--发展用户-->
        <activity android:name=".activity.InvitingUsersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的收藏-->
        <activity android:name=".activity.MyCollectionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--我的设置-->
        <activity android:name=".activity.MySettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--意见反馈-->
        <activity android:name=".activity.SettingFeedbackActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--版本更新-->
        <activity android:name=".activity.UpdateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--知识详情-->
        <activity android:name=".activity.KnowLedgeWebActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--Android 7.0相机调用-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lixin.freshmall.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--百度定位-->
        <service android:name="com.baidu.location.f"
            android:enabled="true" android:process=":remote"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="57dbgfqTKnQwNn0pm4rWgW62HwBvWuAk" />  <!--key:开发者申请的key-->
        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a2b5fb2f29d981c70000473" >
        </meta-data>
        <!--微信 QQ登录、分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106112021" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- Ping++ SDK-->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!--极光推送-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="${applicationId}"/>
            </intent-filter>

        </service>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.lixin.freshmall.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="8c6ffdd08c64e50cc055b302"/> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

</manifest>